@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold; 
  background: linear-gradient(
    to bottom,
    #1a8cff,
    #0080ff, 
    #0073e6,
    #0066cc,  
    #0059b3,
    #004d99,
    #004080,
    #333399,
    #3939ac,
    #4040bf,
    #5353c6,
    #6666cc,
    #7979d2, 
    #8c8cd9
  );

  background-attachment: fixed;
}

h1 {
  text-align: center; 
  color: white;
  margin-top: 20px;
}

.tagline {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  color: white;
}

.circular-frame {
  border-radius: 100%;
  border: 4px solid red;
  object-fit: cover;
  object-position: top; 
  width: 250px;
  height: 250px;  
  
  display: block;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 0 auto 0px;
  background: white; 
  color: black;
  padding-top: 10px;
  padding-bottom: 10px; 
  width: 600px;
  font-size: 22px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  transition: width 0.3s ease-out; 
}

.btn:hover {
  background: #f2f2f2;
  transition: width 0.3s ease-out;
  width: 650px; 
}